/* * @import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Sora:wght@100;200;300;400;500;600;700;800&family=Syne:wght@400;500;600;700;800&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgba(18, 24, 32, 0.4);
    line-height: 170%;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header_logo {
    width: 84px;
    height: 70px;
    margin: 10px 10px 0 40px;
}

.header_contactus_btn {
    color: white;
    background-color: black;
    border-radius: 0px;
    padding: 8px 15px;
    margin-right: 40px;
}

.banner_top_container {
    background-color: #D9D9D9;
    /* width: 100vw; */
    height: 460px;
    max-width: none;
}

.h_banner_text {
    color: black;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}

.cust_positioning_banner {
    width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 40px 0;
}

.section.section-demos {
    background: #ffffff;
    padding: 13rem;
}

.section.section-demos .demo-item {
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 20px;
}

.section.section-demos .demo-item .item-img {
    width: 900px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    max-height: 24rem;
    box-shadow: 0 14px 4px #54538945;
}

.section.section-demos .demo-item .item-img:hover {
    transform: scale(1.03);
}

.section.section-demos .demo-item .item-title {
    text-align: center;
    margin-top: 20px;
    transition: all ease 0.3s;
}

.section.section-demos .demo-item img {
    width: 100%;
}

.section.section-demos .demo-item:hover .item-title {
    color: #FFA849;
}

.cust-dropdown-menu {
    top: 44px !important;
    left: -196px !important;
    width: 523px !important;
    height: 261px !important;
}

.cust-dropdown-menu-services {
    display: block;
    top: 0px;
    left: 204px !important;
    width: 255px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.cust-dropdown-menu-services li {
    border-bottom: 1px solid #D9D9D9;
}


/*=======================================
    03.12 Brand CSS
=========================================*/
.brand-slider {
    overflow-x: hidden;
}

.brand-slider .swiper-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (max-width: 479px) {
    .brand-slider .swiper-wrapper .swiper-slide {
        text-align: center;
    }
}

.brand-slider .brand-item img {
    /* -webkit-filter: invert(100%) sepia(1%) saturate(928%) hue-rotate(277deg) brightness(89%) contrast(92%);
            filter: invert(100%) sepia(1%) saturate(928%) hue-rotate(277deg) brightness(89%) contrast(92%); */
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: white;
}

.brand-slider .brand-item img:hover {
    /* -webkit-filter: invert(75%) sepia(14%) saturate(5784%) hue-rotate(201deg) brightness(93%) contrast(86%);
            filter: invert(75%) sepia(14%) saturate(5784%) hue-rotate(201deg) brightness(93%) contrast(86%); */
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


/* ----------------------------------------------------- */

.our_services {
    background-color: #D9D9D9;
    /* height: 990px; */
    padding: 80px 0 40px 0;
}


.services-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 50px; */
    margin-top: 180px;
}

.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.service-item.reverse {
    flex-direction: row-reverse;
}

.service-content {
    flex: 1;
    padding: 0 100px 0 0 ;
}

.service-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.cta-btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #0056b3;
}

.service-image {
    width: 544px;
    height: 566px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.service-image2 {
    left: 645px;
    background-color: #ffffff;
    width: 494px;
    height: 430px;
    border-radius: 10px;
    position: absolute;
    top: 840px;
    box-shadow: 0 14px 4px #54538945;
}

.service-image img {
    max-width: 100%;
}

.service_disc {
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: black;
    width: 578px;
}

.service_title h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: black;
    padding: 0 0 16px 16px;
}

.know_more {
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
}

/* cards slider css  */

.services-section-cards {
    background-color: #ffffff;
    padding: 50px 0;
}

.cards-services-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    overflow-x: hidden;
    margin: 140px auto 70px auto;
}

.container-slider {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-heading {
    text-align: center;
    margin-bottom: 40px;
}

/* .section-heading h2 {
    font-size: 36px;
    margin-bottom: 10px;
} */

.section-heading p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: 630px;
}

.service-card {
    width: 438px;
    height: 580px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.service-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    margin: 30px 0 10px 10px;
}

.service-card p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 20px 10px;
    text-align: left;
    width: 378px;
    height: 120px;
}


/* why choose us  */

.why-choose-us-section {
    background-color: black;
    color: white;
    padding: 40px 0;
}

.why-choose-us-section h2 {
    text-align: left;
    margin-bottom: 70px;
}

.card {
    margin-bottom: 20px;
    border: 1px solid white;
    /* width: 600px; */
    height: 245px;
    border-radius: 10px;
}

.card_img_div {
    width: 94px;
    height: 90px;
    background-color: lightgrey;
    border-radius: 15px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
}

.card h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
}

.card p {
    margin: 16px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* width: 545px; */
    height: 90px;
}

.card.white-background {
    background-color: white;
    color: black;
    border: 1px solid black;
}


/* testimonials section  */

.testimonial-section {
    background-color: white;
    margin: 80px auto;
    color: black;
}

.testimonial-section h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 32px;
}

.testimonial-section h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.testimonial-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 920px;
    height: 230px;
    padding: 45px;
    margin: 0 auto;
}

.author {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
}

.position_client {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.testimonial-slider {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    overflow-x: hidden;
}

.swiper-slide {
    text-align: center;
}

.client_reviews {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 734px;
    text-align: left;
    margin-bottom: 30px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '';
}

/* partners css  */

.partner-slider {
    overflow-x: hidden;
}

.partner-slide {
    margin-right: 0px !important;
}

.partner_title {
    text-align: center;
    padding: 85px 0 52px 0;
    font-size: 32px;
    font-weight: 600;
    color: black;
    margin-top: 60px;
}
.client_title{
    text-align: center;
    padding: 40px 0 27px 0;
    font-size: 32px;
    font-weight: 600;
    color: black;
}

/* footer  */
.get_in_touch {
    background-color: #D9D9D9;
    position: relative;
    height: 280px;
    top: 165px;
    /* left: 350px; */
    padding: 50px 0 0 50px;
    margin: 0 auto;
    border-radius: 10px;
    z-index: 99;
}

.get_in_touch h3 {
    color: black;
    font-size: 36px;
    font-weight: 600;
    line-height: 52px;
    width: 571px;
    margin-bottom: 30px;
}

.git_image_container {
    width: 398px;
    height: 322px;
    border-radius: 10px;
    position: absolute;
    bottom: 6vh;
    right: 5vw;
    background-color: white;
    box-shadow: 0 -4px 22px rgba(0, 0, 0, 0.1)
}


.footer-bottom {
    border-top: 1px solid rgb(244 238 238 / 25%);
    padding: 15px 0 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 83px;
}

.footer-widget-area {
    padding: 80px 0;
}


.footer-widget-area .widget-item .widget-title {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: 900;
}

.footer-widget-area .about-widget p {
    color: white;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 400;
    width: 387px;
}

.footer-widget-area .about-widget .social-icons a {
    color: white;
    margin-right: 16px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.footer-widget-area .about-widget .social-icons a:hover {
    color: #ffffff;
}

.footer-widget-area .widget-list li,
.footer-widget-area .widget-post li {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-widget-area .widget-list li a,
.footer-widget-area .widget-post li a {
    color: white;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.footer-widget-area .widget-list li a:hover,
.footer-widget-area .widget-post li a:hover {
    color: #ffffff;
}

.footer-widget-area .widget-list li:last-child,
.footer-widget-area .widget-post li:last-child {
    margin-bottom: 0;
}

.footer-widget-area .widget-instagram {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-widget-area .widget-instagram li {
    border-bottom: 1px solid #202020;
    border-left: 1px solid #202020;
    width: 50%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    min-width: 200px;
    /* Adjust as needed */
}

.service-cust {
    display: flex;
    flex-direction: column;
}

.explore_btn_service {
    width: fit-content;
}

#container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 90px 0 90px 0;
  }

  /* Updated IDs to card1, card2, and card3 */
  #card1,
  #card2,
  #card3 {
    width: 428px;
    height: 443px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .quote {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 170px;
  }

  #container3 h2{
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
  }

  @media (max-width: 600px) {
    #container3 {
      flex-direction: column;
    }

    #card1,
    #card2,
    #card3 {
      width: 100%; /* Cards take full width on smaller screens */
      margin: 10px 0; /* Adjust margin for spacing between cards */
    }
  }

  #teams-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
  }

  .team20 h1 {
    color: white;
    text-align: center;
    padding: 45px 0 0 0;
  }
  .team20{
    background-color: black;
  }

  .team-card {
    width: 240px;
    height: 240px;
    background-color: white;
    text-align: center;
    line-height: 150px;
    border-radius: 50%;
    margin: 60px;
    box-shadow: 0 4px 8px rgb(255 255 255 / 99%);
  }

  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .team-card {
      width: 80%;
      margin: 20px 0;
    }
  }